@media ( max-width: 1201px)
    .destinations
        
@media ( max-width: 1200px)
    .packages
        &__string
            width: 100%
        &__name 
            width: 180px
        &__book
            width: 180px
        &__property
            width: 180px
    .newsletter
        &__logo
            &::before
                left: 370px
            &::after
                left: 510px
@media ( max-width: 991px)
    .aboutus
        &__img
            width: 270px
            height: 340px
        &__logo
            margin-left: 360px
            margin-top: 30px
        &__descr
            width: 450px
        &__button
            margin-left: 310px
    .header
        padding: 27px 30px 30px 30px
        &__logo
            div
                font-size: 20px
    .packages
        &__string
            flex-wrap: wrap
            height: 100%
        &__name
            margin: 0 auto
        &__book
    .exclusive
        &__content
            width: 450px
    .newsletter
        &__logo
            &::before
                left: 250px
            &::after
                left: 390px
    .bottom
@media (max-width: 768px)
    .aboutus
        &__wrapper
            flex-wrap: wrap
        &__img
            width: 75%
            height: 75%
        &__text
            text-align: center  
            margin-top: 20px   
            margin-left: 0
        &__descr
            width: 500px 
        &__button
            margin-left: 0
            margin: 20px auto
        &__logo
            margin-left: 215px
            margin-top: 15px
    .exclusive
        &__content
            width: 50%
            padding: 50px 0 40px 0
        .section-subheader
            width: 290px
        .section-header
            font-size: 27px
    .newsletter
        .section-header
            width: 550px
            font-size: 26px
        .section-subheader
            margin-top: -10px
        .form
            margin-top: 20px
            button
                margin-top: 15px
        &__logo
            margin-top: -40px
            &::after
                left: 160px
            &::before
                left: 300px
@media (max-width: 575px)
    .aboutus
        &__descr
            width: 300px
        &__logo
            margin-left: 105px
    .exclusive
        .section-subheader
            width: 300px
        &__content
            width: 100%
    .newsletter
        min-height: 400px
        padding: 40px 0 40px 0
        .section-header
            width: 100%
        .section-subheader
            margin-top: -10px
        .form
            margin-top: 20px
            &__input
                width: 290px
            button
                margin-top: 15px
        &__logo
            margin-top: -60px
            &::after
                left: 50px
            &::before
                left: 190px