@media ( max-width: 1201px)
    .destinations__wrapper
        justify-content: space-around
@media ( max-width: 1200px)
    .packages
        &__string
            width: 100%
        &__name 
            width: 180px
        &__book
            width: 180px
        &__property
            width: 180px
        &__kind
            font-size: 19px    
    .newsletter
        &__logo
            &::before
                left: 370px
            &::after
                left: 510px
    .bottom
        &__header
            text-align: center
    .footer
        &__menu 
            padding-left: 10px       
@media ( max-width: 991px)
    .destinations__wrapper
        justify-content: space-between
    .aboutus
        &__img
            width: 270px
            height: 340px
        &__logo
            margin-left: 360px
            margin-top: 30px
        &__descr
            width: 450px
        &__button
            margin-left: 310px
    .header
        padding: 27px 30px 30px 30px
        &__logo
            div
                font-size: 20px
    .bottom
        &__element
            margin: 10px
    .footer
        &__menu 
            margin-left: 20px
            font-size: 13px
            justify-content: space-between
        &__icons
            width: 200px
    .packages
        &__descr1
            display: none
        &__property
            width: 160px
        &__book
            width: 125px
            button
                width: 111px
                height: 40px
        &__price
            font-size: 24px
        &__name
            width: 100px
        &__descr2
            width: 130px
            font-size: 11px    
        &__kind
           display: none                           
@media (max-width: 768px)
    .nav
        visibility: visible
    .menu
        visibility: visible    
    .header
        display: none  
    .promo
        &__title-2
            font-size: 60px
        &__title-3
            font-size: 35px            
    .packages
        &__string
            flex-wrap: wrap
            height: 100%
        &__name
            margin: 0 auto
        &__wrapper
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
        &__property
            width: 135px
        &__book
            width: 102px
            button
                width: 95px
                height: 35px
                font-size: 11px
        &__name
            width: 100%
            height: 100px    
        &__time
            margin-left: 55px
        &__city
            margin-left: 55px                
    .exclusive
        &__content
            width: 50%
            padding: 50px 0 40px 0
        .section-subheader
            width: 290px
        .section-header
            font-size: 27px
    .newsletter
        padding: 45px 0 30px
        .section-header
            width: 550px
            font-size: 26px
        .section-subheader
            margin-top: -10px
        .form
            margin-top: 20px
            button
                margin-top: 15px
        &__logo
            margin-top: -40px
            &::after
                left: 390px
    .bottom
            left: 160px
            &::before
                left: 300px   
    .aboutus
        &__wrapper
            flex-wrap: wrap
        &__img
            width: 75%
            height: 75%
        &__text
            text-align: center  
            margin-top: 20px   
            margin-left: 0
        &__descr
            width: 500px 
        &__button
            margin-left: 0
            margin: 20px auto
        &__logo
            margin-left: 215px
            margin-top: 15px
    .destinations__wrapper
        justify-content: center
    .bottom
        padding: 44px 0 29px 0
        .container
            display: flex
            flex-wrap: wrap
            justify-content: center  
            &__element
                margin-top: 20px
                p
                    text-align: center           
    .footer
        min-height: 150px
        .container
            flex-wrap: wrap
            justify-content: center
        &__menu
            padding-left: 0
            margin-top: 10px
        &__icons
            margin-top: 10px
@media (max-width: 575px)
    .menu
        &__links
            font-size: 20px
        &__item
            margin: 10px auto    
    .promo
        &__title-2
            font-size: 45px
        &__title-3
            font-size: 23px
        &__descr
            width: 100%        
    .aboutus
        &__descr
            width: 300px
        &__logo
            margin-left: 105px
    .exclusive
        .section-subheader
            width: 300px
        &__content
            width: 100%
    .newsletter
        min-height: 400px
        padding: 40px 0 40px 0
        .section-header
            width: 100%
        .section-subheader
            margin-top: -10px
        .form
            margin-top: 20px
            &__input
                width: 290px
            button
                margin-top: 15px
        &__logo
            margin-top: -60px
            &::after
                left: 50px
            &::before
                left: 190px
    .bottom
        padding: 30px 0 20px 0
    .footer
        .container
            p
                text-align: center
@media (max-width: 440px)
    .destinations 
        padding-bottom: 20px
        .section-header
            font-size: 30px
    