html
    scroll-behavior: smooth
body
    position: relative
*
    font-family: 'Lato', sans-serif
    box-sizing: border-box
   
a
    text-decoration: none
    color: #fff


@import 'base/mixins'
@import 'base/fonts'
//elements
@import 'libs/bootstrap-grid.min'
@import 'libs/bootstrap-reboot.min'
@import 'elements/button'
@import 'elements/section-header'
@import 'elements/navbar'
@import 'elements/menu'

@import 'blocks/newsletter'
@import 'blocks/aboutus'
@import 'blocks/header'
@import 'blocks/reservation'
@import 'blocks/promo'
@import 'blocks/packages'
@import 'blocks/exclusive'
@import 'blocks/destinations'
@import 'blocks/bottom'
@import 'blocks/footer'

@import 'base/media'



