.button
    width: 135px
    height: 42px
    background-color: #1289d5
    border: none
    border-radius: 6%
    color: #ffffff
    font-size: 14px
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 0.34px