.menu
    position: absolute
    height: 100%
    top: 0
    left: -100%
    width: 45%
    background-color: rgba(83,162,219 ,0.7 )
    transition: 0.5s all
    position: fixed
    visibility: hidden
    z-index: 2
    &__links
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        font-size: 25px
        a
            display: block
            color: #fff
            text-decoration: none
    img
        display: block
        margin: 25px auto  
        width: 75px
        height: 75px
    &__item
        padding: 15px 0 15px 0
        width: 100%
        margin: 20px auto
        text-align: center


    &_active
        left: 0


