.overlay
    position: fixed
    top: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.7)
    display: none
    &__modal
        width: 400px
        height: 80%
        border: 2px solid #1289d5
        position: relative
        left: 50%
        transform: translateX(-50%)
        top: 10%
        text-align: center
        background-color: #e2e1e1
        border-radius: 2%
        display: none
        padding: 10px
    &__header
        color: #1289d5
        font-size: 30px
        margin-top: 0
    &__time
        display: inline-block
    &__cross
        position: relative
        left: 220px
        top: -545px
        font-size: 35px
        color: #1289d5
        cursor: pointer
    &__booking
        margin-top: 80px
    &__price
        font-size: 30px
    &_active
        display: block
a.overlay__link
        cursor: pointer
        text-decoration: underline