.bottom
    height: 343px
    background: url(../img/bottom/bg.svg)
    padding-top: 94px
    .container
        display: flex
        justify-content: space-between
    &__element
        max-width: 342px
        font-size: 14px
        p, div
            font-family: Merriweather
    a.bottom__link
        color: #0ed9e6
        cursor: pointer
    &__info-piece
        /** +before-ico **/
    &__header
        color: #7d7d7d
        font-size: 14px
        font-weight: 700
        text-transform: uppercase