.destinations
    min-height: 1150px
    text-align: center
    padding-bottom: 100px
    &__wrapper
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: space-between
    &__img
        border: 1px solid #b1b0b0
        padding: 10px
        width: 338px
        height: 260px
    &__button
        margin: 0 auto
        width: 223px
        margin-top: 42px
        &_white
            display: none
    &__element
        margin-top: 40px
    &__place-name
        font-size: 20px
        font-weight: 700
        line-height: 24px
        text-transform: uppercase
        letter-spacing: 1px
        color: #1289d5
        margin-top: 41px