.footer
    min-height: 128px
    background-color: #292828
    .container
        display: flex
        justify-content: space-between
        align-items: center
        height: 128px
        p
            display: inline-block
            margin: 0
            color: #a1a0a0
    &__icons
        width: 341px
        display: flex
        align-items: center
        justify-content: center
    &__icon
        background-color: #cfcfcf
        border-radius: 100%
        a
            img
                border-radius: 0
                width: 45px
                height: 45px
                padding: 10px
        &:nth-child(2)
                margin: 0 20px
    &__menu
        padding-left: 81px
        width: 341px
        display: flex
        justify-content: space-between
        a
            color: #fcd890