.newsletter
    text-align: center
    padding: 97px 0 87px 0
    .section-header
        text-transform: none
        color: #1289d5
        font-size: 30px
        font-weight: 700
        margin-bottom: 33px
.form
    margin: 57px 0 102px 0
    &__input
        background-color: #f8f7f7
        border: 2px solid #e7e6e6
        width: 385px
        font-style: italic
        text-transform: none
        color: #b1b1b1
        padding-left: 26px
    &__button
        width: 167px
    &__logo
        &::before
            left: 460px
            top: 30px
            display: block
            position: relative
            content: ''
            width: 60px
            height: 1px
            background-color: #efeded
        &::after
            left: 600px
            bottom: 30px
            display: block
            position: relative
            content: ''
            width: 60px
            height: 1px
            background-color: #efeded
            