.reservation
    padding: 28px 0 39px 0
    .title
        margin-top: 0
        color: #626161
        font-size: 18px
        font-weight: 400
        text-transform: uppercase
        letter-spacing: 0.45px
        text-align: center
    .form
        display: flex
        justify-content: center
        &__input
            color: #626161
            font-size: 14px
            line-height: 19px
            letter-spacing: 0.35px
            width: 144px
            border: none
            height: 48px
            background-color: #dbdbdb
            margin: 10px
            &_big-width
                width: 267px
        &__button
            margin: 10px
            width: 199px
